html, body, td, input, textarea{
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; 
	font-size: 11;
	font-weight: bold;
	scrollbar-face-color:#EBF5FF;
	scrollbar-base-color:#EBF5FF;
	scrollbar-arrow-color:black;
	scrollbar-track-color:#F3F3F3;
	scrollbar-shadow-color:#EBF5FF;
	scrollbar-highlight-color:#EBF5FF;
	scrollbar-3dlight-color:#78AAFF;
	scrollbar-darkshadow-Color:#78AAFF;
}
body {
    margin: 0;
    padding: 0;
    min-width: 940px;
    color: #666;
}
#zoom_control{
 z-index: 10;
 position: absolute;
 margin-top: 150px;
 margin-left: 10px;
 text-align: center;
 opacity: 0.8;
 background: black;
}

#zoom_control button{
 margin-top: 10px;
 margin-bottom: 10px;
}

#slider{
 margin-left: 10px;
}
hr {
	display: none;
}
#map_canvas {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	min-height: 600px;
	z-index: 0;
}