/* File   : navigation.css
 * Role   : Support File
 * Author : Ginanjar Fahrul M (gin)
 * E-Mail : ginanjar.fahrul.m@gmail.com
 * Team   : Mahasiswa Kerja Praktek Teknik Informatika
 *          Institut Teknologi Bandung, Juni - Juli 2010
 * 
 * CSS Style untuk navigasi pada laman utama
 * 
 */
#button-search{
	margin: 10px 0px -5px 0px;
}
#input-search{
	margin-bottom: 3px;
	width: 200px;
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu label {
	margin: 0;
    padding: 15px 11px 7px 9px;
    color: #eee;
    text-decoration: none;
	border: none;
}
#menu li {
    display: inline;
    margin-left: 0px;
    padding: 0;
    list-style: none;
}
#menu li a {
    margin: 0;
    padding: 15px 11px 7px 9px;
    color: #eee;
    text-decoration: none;
	border: none;
}
#menu li a:hover {
	margin: 0;
    padding: 15px 11px 7px 9px;
    color: #ffffff;
	background: #003147 url(custom-theme/images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 50% repeat-x;
	border: none;
}
#menu li a:active{
	margin: 0;
    padding: 15px 11px 7px 9px;
    color: #222222;
	background: #a6a6a6 url(custom-theme/images/ui-bg_flat_35_a6a6a6_40x100.png) 50% 50% repeat-x;
	border: none;
}
#menu-date {
	font-weight: normal;
}
#menu-left{
	margin: 0;
	float: left;
	padding: 7px 0;
}
#menu-right {
	margin: 0;
	float: right;
	padding: 7px 0;
}
#menu-left li a {
	margin: 0;
}
#panel-tree, #panel-notif {
	padding: 0.4em; 
	z-index: 100;
}
#panel-tree h3, #panel-notif h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
}
#form-login, #form-device, #form-group {
	font-size: 11px;
	font-weight: normal;
}
#form-login input.text {
	margin-bottom:12px; 
	color: #555;
	width:100%; 
	padding: .4em 0;
}
#form-login fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px;
}
#form-login h1 { 
	font-size: 1.2em; 
	margin: .6em 0; 
}
#form-login div, #users-contain { 
	width: 350px; 
	margin: 20px 0; 
}
#form-login div, #users-contain table { 
	margin: 1em 0; 
	border-collapse: collapse; 
	width: 100%; 
}
#form-login div#users-contain table td, #form-login div, #users-contain table th { 
	border: 1px solid #eee; 
	padding: .6em 10px; 
	text-align: left; 
}
#form-login .ui-dialog .ui-state-error { 
	padding: .3em; 
}
#form-login .validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}
#form-device input.text, #form-device select {
	font-weight: normal;
	margin-bottom:12px;
	padding: .4em 0;
	color: #555;
}
#device-lng, #device-lat {
	width:30%; 
}
#device-name, #device-parent, #group-name, #group-parent, #device-cacti {
	width:100%; 
}
#form-device fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px;
}
#form-device h1 { 
	font-size: 1.2em; 
	margin: .6em 0; 
}
#form-device div#users-contain { 
	width: 350px; 
	margin: 20px 0; 
}
#form-device div#users-contain table { 
	margin: 1em 0; 
	border-collapse: collapse; 
	width: 100%; 
}
#form-device div#users-contain table td, #form-device div#users-contain table th { 
	border: 1px solid #eee; 
	padding: .6em 10px; 
	text-align: left; 
}
#form-group input.text, #form-group select {
	color: #555;
	margin-bottom:12px;
	padding: .4em 0; 
}
#group-lng, #group-lat {
	width:30%; 
}
#form-group fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px;
}
#form-group h1 { 
	font-size: 1.2em; 
	margin: .6em 0; 
}
#form-group div#users-contain { 
	width: 350px; 
	margin: 20px 0; 
}
#form-group div#users-contain table { 
	margin: 1em 0; 
	border-collapse: collapse; 
	width: 100%; 
}
#form-group div#users-contain table td, #form-group div#users-contain table th { 
	border: 1px solid #eee; 
	padding: .6em 10px; 
	text-align: left; 
}
#cactidetail {
	text-decoration: none;
}
#device-location, #group-location {
	cursor:pointer;
}
#form-coord input {
	font-size: 10px;
	font-weight: normal;
	color: #555;
	width: 30%;
	padding: .4em 0;
}
#trees {
	overflow:auto;
	max-height:400px;
}
#ctxmenu-map label, #ctxmenu-device label, #ctxmenu-group label, #panel-rrd label {
	font-size: 10px;
	font-weight: normal;
	margin: 0 auto;
	padding: 5px;
	display: block;
	color: #eeeeee;
	text-decoration: none;
	cursor: pointer;
}
#ctxmenu-map label:hover, #ctxmenu-device label:hover, #ctxmenu-group label:hover, #panel-rrd label:hover {
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 5px;
	display: block;
	color: #ffffff;
	background: #003147 url(custom-theme/images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 50% repeat-x;
	cursor: pointer;
	text-decoration: none;
}
#ctxmenu-map label:active, #ctxmenu-device label:active, #ctxmenu-group label:active, #panel-rrd label:active {
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 5px;
	display: block;
    color: #222222;
	background: #a6a6a6 url(custom-theme/images/ui-bg_flat_35_a6a6a6_40x100.png) 50% 50% repeat-x;
	cursor: pointer;
	text-decoration: none;
}