a:visited , a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.fluid {
	position: absolute;
    min-width: 940px;
	/*opacity: 0.9;*/
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 102;
	color: #999;
	border-top: 2px solid #444;
	border-bottom: 2px solid #444;
	border-left: 0px;
	border-right: 0px;
	text-align: left;
}
.clearboth, #top, #header {
    clear: both;
}
.toggler {  
	top: 42px;
	max-height: 500px; 
	position: absolute;
	z-index: 100;
	width: 300px;
}
.togglerleft {
	left: 0;
}
.togglerright {
	right: 0;
}
.scroll {
	max-height: 500px;
	overflow: auto;
}
.notif-clear {
	clear: both;
}
.notif-label {
	cursor: pointer;
}
.notif-img {
	border : none;
	padding : 10px 0;
	margin : 0;
	float:left;
}
.notif-cont {
	border : none;
	padding : 0;
	margin : 0;
	float : left;
}
.notif-box {
	font-size: 10px;
	font-weight: normal;
	margin: 0 auto;
	padding: 2px;
	display: block;
	color: #eeeeee;
	text-decoration: none;
}
.notif-box:hover {
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 2px;
	display: block;
	color: #ffffff;
	background: #003147 url(custom-theme/images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 50% repeat-x;
	cursor: pointer;
	text-decoration: none;
}
.notif-box:active {
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 2px;
	display: block;
    color: #222222;
	background: #a6a6a6 url(custom-theme/images/ui-bg_flat_35_a6a6a6_40x100.png) 50% 50% repeat-x;
	cursor: pointer;
	text-decoration: none;
}
#time {
	font-weight: normal;
}
#topleft{
	margin: 0;
	float: left;
	padding: 7px 0;
}
#topright {
	margin: 0;
	float: right;
	padding: 7px 0;
}
#topleft li a {
	margin: 0;
}
#top ul {
    margin: 0;
    padding: 0;
}
#top li {
    display: inline;
    margin-left: 0px;
    padding: 0;
    list-style: none;
}
#top li a{
    margin: 0;
    padding: 15px 11px 7px 9px;
    color: #eee;
    text-decoration: none;
	border: none;
}
#top li a:hover {
	margin: 0;
    padding: 15px 11px 7px 9px;
    color: #ffffff;
	background: #003147 url(custom-theme/images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 50% repeat-x;
	border: none;
}
#top li a:active{
	margin: 0;
    padding: 15px 11px 7px 9px;
    color: #222222;
	background: #a6a6a6 url(custom-theme/images/ui-bg_flat_35_a6a6a6_40x100.png) 50% 50% repeat-x;
	border: none;
}
#effectleft, #effectright {
	padding: 0.4em; 
	position: relative; 
	z-index: 100;
}
#effectleft h3, #effectright h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
}
#loginform, #deviceform, #groupform {
	font-size: 11px;
	font-weight: normal;
}

#loginform input.text {
	margin-bottom:12px; 
	color: #555;
	width:100%; 
	padding: .4em 0;
}
#loginform fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px;
}
#loginform h1 { 
	font-size: 1.2em; 
	margin: .6em 0; 
}
#loginform div, #users-contain { 
	width: 350px; 
	margin: 20px 0; 
}
#loginform div, #users-contain table { 
	margin: 1em 0; 
	border-collapse: collapse; 
	width: 100%; 
}
#loginform div#users-contain table td, #loginform div, #users-contain table th { 
	border: 1px solid #eee; 
	padding: .6em 10px; 
	text-align: left; 
}
#loginform .ui-dialog .ui-state-error { 
	padding: .3em; 
}
#loginform .validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}
#mapctxmenu label, #devicectxmenu label, #groupctxmenu label, #panelrrd label {
	font-size: 10px;
	font-weight: normal;
	margin: 0 auto;
	padding: 5px;
	display: block;
	color: #eeeeee;
	text-decoration: none;
	cursor: pointer;
}
#mapctxmenu label:hover, #devicectxmenu label:hover, #groupctxmenu label:hover, #panelrrd label:hover {
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 5px;
	display: block;
	color: #ffffff;
	background: #003147 url(custom-theme/images/ui-bg_highlight-soft_33_003147_1x100.png) 50% 50% repeat-x;
	cursor: pointer;
	text-decoration: none;
}
#mapctxmenu label:active, #devicectxmenu label:active, #groupctxmenu label:active, #panelrrd label:active {
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 5px;
	display: block;
    color: #222222;
	background: #a6a6a6 url(custom-theme/images/ui-bg_flat_35_a6a6a6_40x100.png) 50% 50% repeat-x;
	cursor: pointer;
	text-decoration: none;
}
#deviceform input.text, #deviceform select {
	font-weight: normal;
	margin-bottom:12px;
	padding: .4em 0;
	color: #555;
}
#devicelng, #devicelat {
	width:30%; 
}
#devicename, #deviceparent, #groupname, #groupparent, #devicecacti {
	width:100%; 
}
#deviceform fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px;
}
#deviceform h1 { 
	font-size: 1.2em; 
	margin: .6em 0; 
}
#deviceform div#users-contain { 
	width: 350px; 
	margin: 20px 0; 
}
#deviceform div#users-contain table { 
	margin: 1em 0; 
	border-collapse: collapse; 
	width: 100%; 
}
#deviceform div#users-contain table td, #deviceform div#users-contain table th { 
	border: 1px solid #eee; 
	padding: .6em 10px; 
	text-align: left; 
}
#groupform input.text, #groupform select {
	color: #555;
	margin-bottom:12px;
	padding: .4em 0; 
}
#grouplng, #grouplat {
	width:30%; 
}
#groupform fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px;
}
#groupform h1 { 
	font-size: 1.2em; 
	margin: .6em 0; 
}
#groupform div#users-contain { 
	width: 350px; 
	margin: 20px 0; 
}
#groupform div#users-contain table { 
	margin: 1em 0; 
	border-collapse: collapse; 
	width: 100%; 
}
#groupform div#users-contain table td, #groupform div#users-contain table th { 
	border: 1px solid #eee; 
	padding: .6em 10px; 
	text-align: left; 
}
#cactidetail {
	text-decoration: none;
}
#devicelocation, #grouplocation {
	cursor:pointer;
}
#coordinate input {
	font-size: 10px;
	font-weight: normal;
	color: #555;
	width: 30%;
	padding: .4em 0;
}
#trees {
	overflow:auto;
	max-height:400px;
}